/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* RESET */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

/* GLOBAL */
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	scroll-behavior: smooth;
}

:root {
	--haburger-color: inherit;
}

/* navigation */

.skip-nav-link {
	color: white;
	background: black;
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	position: absolute;
	left: 0.5rem;
	transform: translateY(-150%);
	transition: transform 300ms ease-in-out;
}

.skip-nav-link:focus {
	transform: translateY(0);
}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	/* position: sticky;
  top: 0;
   */
	z-index: 1000;
}

.logo {
	font-size: 1.5rem;
	font-weight: 700;
	z-index: 1000;
}

.navbar {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	transform: translateY(-150%);
	transition: transform 300ms ease-in-out;
	background: white;
	padding: 1rem 0;
	z-index: 10;
}

@media screen and (min-width: 768px) {
	.navbar {
		position: static;
		transform: translateY(0);
		transition: 0;
		padding: 0 1rem;
	}
}

.navbar.opened {
	transform: translateY(0);
}

.nav-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 0.5em;
}

@media screen and (min-width: 768px) {
	.nav-list {
		flex-direction: row;
		gap: 1.5em;
	}
}

.nav-item {
}

.nav-link {
	font-size: 1.1rem;
	font-weight: 500;
	transition: color 0.3s ease-in-out;
}

/* hamburger */
.hamburger-btn {
	z-index: 1000;
	background: transparent;
	border: 1px solid var(--haburger-color);
	border-radius: 0.5rem;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.hamburger-btn {
		display: none;
	}
}

.hamburger-btn .line {
	transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
	transform-origin: center;
}

.hamburger-btn[aria-expanded="true"] .line {
	transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.hamburger-btn[aria-expanded="true"] :is(.top, .bottom) {
	y: 45;
}

.hamburger-btn[aria-expanded="true"] .top {
	rotate: 45deg;
}

.hamburger-btn[aria-expanded="true"] .middle {
	opacity: 0;
}

.hamburger-btn[aria-expanded="true"] .bottom {
	rotate: -45deg;
}
